#header {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#header button {
    position: relative;
    text-align: centre;
    width: 250px;
    font-size: 20px;
    color: #15f4ee;
    font-weight: 200;
    border: 5px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: 1.5s;
    background-color: rgb(27, 27, 65);
    text-shadow: rgba(2, 12, 27, 0.7);
}

#app-title {
    width: 91%;
    text-align: center;
    border-right: 2px solid red;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
}

body {
    background-color: black;
    background-color: rgb(27, 27, 65);
    navy-shadow: rgba(2, 12, 27, 0.7);
    color: var(--slate);
}

#header button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(90.07deg, #A265F2 -16.29%, #985EFF -9.5%, #EA9A91 118.76%, rgba(225, 147, 157, 0.77) 127.64%);
}

#breadcrumb {
    border: 1px solid white;
    margin: 10px;
    display: flex;
}

#breadcrumb a {
    background-color: tomato;
    padding: 10px;
    border-right: 5 pxsolid white;
}

#breadcrumb a:hover {
    background-color: teal;
    text-decoration: underline;
    text-transform: uppercase;
}

#container {
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.folder {
    background: linear-gradient(45deg, #ffbc00, #9e5971);
    color: white;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
}

.folder div[purpose=name] {
    margin-top: 80px;
}

.folder [action] {
    text-decoration: underline;
    cursor: pointer;
}

.folder [action]:hover {
    color: blue;
    transform: scale(2);
}

.text-file {
    color: white;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.text-file div[purpose=name] {
    margin-top: 80px;
}

.text-file [action] {
    text-decoration: underline;
    cursor: pointer;
}

.text-file [action]:hover {
    color: blue;
    transform: scale(2);
}

.album {
    background: linear-gradient(315deg, #03a9f4, #b36882);
    color: white;
    height: 120px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
}

.album div[purpose=name] {
    margin-top: 80px;
}

.album [action] {
    text-decoration: underline;
    cursor: pointer;
}

.album [action]:hover {
    color: blue;
    transform: scale(2);
}

#app {
    border: 5px solid blue;
    margin: 10px;
}

#app-title-bar {
    display: flex;
    background-color: cyan;
    height: 40px;
}

#app-menu-bar {
    display: flex;
    background-color: teal;
    height: 40px;
}

#app-body {
    display: flex;
    height: 500px;
    background-image: linear-gradient(90.07deg, #A265F2 -16.29%, #985EFF -9.5%, #EA9A91 118.76%, rgba(225, 147, 157, 0.77) 127.64%);
}

.notepad-menu {
    width: 100%;
    padding: 5px;
}

.notepad-menu * {
    margin: 0px 5px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.notepad-menu span {
    vertical-align: bottom;
}

.notepad-menu span:hover {
    border: 2px solid white;
    background-color: black;
    color: teal;
}

.notepad-menu [pressed=true] {
    border: 2px solid white;
    background-color: black;
    color: teal;
}

.notepad-menu input[type=color] {
    width: 30px;
}

.notepad-menu select {
    height: 30px;
}

.notepad-body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90.07deg, #A265F2 -16.29%, #985EFF -9.5%, #EA9A91 118.76%, rgba(225, 147, 157, 0.77) 127.64%);
}

.notepad-body textarea {
    height: 100%;
    width: 100%;
}

[purpose=download] {
    display: none;
}


/* input[action=upload]{
    display: none;
} */

#win-actions span {
    cursor: pointer;
}

#win-actions span:hover {
    color: blue;
}

.notepad-menu input[action=upload] {
    display: none;
}

.album-menu {
    width: 100%;
    padding: 5px;
}

.album-menu * {
    margin: 0px 5px;
    padding: 2px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
}

.album-menu span {
    vertical-align: bottom;
}

.album-menu span:hover {
    border: 2px solid white;
    background-color: black;
    color: teal;
}

.album-body {
    height: 100%;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(90.07deg, #A265F2 -16.29%, #985EFF -9.5%, #EA9A91 118.76%, rgba(225, 147, 157, 0.77) 127.64%);
}

.picture-list {
    border: 1px solid white;
    height: 100px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.picture-list img {
    height: 90%;
    border: 2px solid teal;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.picture-list img:hover {
    transform: scale(1.1);
    border: 2px solid hsl(66, 87%, 9%);
}

.picture-list img[pressed=true] {
    transform: scale(1.02);
    border: 2px solid white;
    box-shadow: 2px 2px 5px red;
}

.picture-view {
    border: 1px solid white;
    height: 350px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

.picture-view>div {
    height: 100%;
}

.picture-view .move-left {
    width: 15%;
}

.picture-view .picture-main {
    padding: 5px;
    width: 70%;
    display: flex;
}

.picture-view .picture-main img {
    height: 100%;
}

.picture-view .move-right {
    width: 15%;
}